/*フロート解除*/

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}



/*フロートで2カラム*/

#center{
  width: 100%;
}

#leftblock{
  background-color:#990000;
  width: 46%;
  margin: 1%;
  padding: 1%;
  float:left;
}
#rightblock{
  background-color:#000099;
  width: 46%;
  margin: 1%;
  padding: 1%;
  float:right;
}

